
/* Fuente de texto */
/* Enlace: https://fonts.google.com/specimen/Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Defino variable CSS (custom property) para fuente Poppins */
:root {
    --poppins-font: "Poppins", sans-serif;
}

/* Reset CSS para navegadores */
/* Fuente: https://www.youtube.com/shorts/2lyDv0wOQuQ */

*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}


body {
    padding: 0;
    margin: 0;
    font-family: var(--poppins-font);
}


/*
=====================
      SIDEBAR
=====================
*/

.wrapper-container {
    display: flex;
}

.sidebar-menu {
    background-color: #e8e8e8;
    min-height: 100vh;
    padding: 0 30px;
}

.sidebar-menu p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 40px 0 0;
    padding-bottom: 40px;
    border-bottom: 1px solid #c9c9c9;
}

.sidebar-menu nav {
    margin-top: 25px;
}

.sidebar-menu ul {
    margin: 0;
    padding: 0;
}

.sidebar-menu ul li {
    list-style-type: none;
}

.sidebar-menu ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.sidebar-menu ul li a:not(.btn-salir) {
    color: #042dd1;
    padding: 15px 50px;
}

.sidebar-menu .btn-salir {
    padding: 7px 50px;
    background-color: #d2042d;
    color: white;
    border-radius: 30px;
    margin-top: 15px;
}

.sidebar-menu ul li a:not(.btn-salir):hover {
    background-color: #042dd1;
    color: white;
}

/*
=====================
     HOME
=====================
*/

/* Formulario de registro de usuario */
.main-container {
    flex-grow: 1; /* Usara el espacio sobrante generado por el wrapper al declararlo como 'flex' */
    margin: 50px 100px;
    padding: 50px 90px;
    background-color: #e8e8e8;
    border-radius: 10px;
    box-shadow: -13px 9px 10px #cfcdcd; /* Crea efecto de sombra en contenedor del formulario */
}

.main-container h1 {
    text-align: center;
    color: #f4f4f4;
    margin: 0 0 50px 0;
    background-color: #999999;
    padding: 15px 0;
}

/* Contenido pagina */
.contenido-home h2 {
    margin: 0 0 30px;
}

.contenido-home ul {
    margin: 0;
}

.contenido-home ul {
    padding: 0;
}

.contenido-home ul li {
    list-style-type: "> ";
    margin: 0 0 15px 15px;
}


/*
==============
    FOOTER
==============
*/

footer {
    background-color: #e8e8e8;
    padding: 50px 0;
    margin: 90px 0 0 0;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

footer p:first-child {
    margin: 0 0 7px;
}

footer p:nth-child(2) {
    margin: 0;
}