
/* Fuente de texto */
/* Enlace: https://fonts.google.com/specimen/Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Defino variable CSS (custom property) para fuente Poppins */
:root {
    --poppins-font: "Poppins", sans-serif;
}

/* Reset CSS para navegadores */
/* Fuente: https://www.youtube.com/shorts/2lyDv0wOQuQ */

*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}


body {
    padding: 0;
    margin: 0;
    font-family: var(--poppins-font);
}


/*
=====================
      NAVBAR
=====================
*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 60px 30px;
    background-color: #e8e8e8;
}

.navbar p {
    margin: 0;
}

.navbar p a[href="./carrito_compras.html"] {
    text-decoration: none;
    color: #042dd1;
}

.navbar p a[href="./carrito_compras.html"]:hover {
    opacity: 0.7;
}

.navbar .nombre-pagina {
    font-weight: 800;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #042dd1;
}

.navbar ul li a:hover {
    background-color: #042dd1;
    color: white;
}


/* Main container */
.main-container {
    margin: 0 30px 90px;
}

.main-container h1 {
    margin: 0;
    text-align: center;
    margin: 90px 0;
    font-size: 50px;
}


/* Carrito container */
.carrito-container {
    display: flex;
    column-gap: 30px;
}

.producto-container {
    display: grid;
    grid-template-columns: 200px 500px auto;
    grid-template-rows: 250px;
    column-gap: 20px;
    background-color: #e8e8e8;
    padding: 10px 15px;
}

.producto-container img {
    width: 100%;
    height: 100%;
}

.producto-container:not(:last-child) {
    margin-bottom: 30px;
}

/* Container descripcion del producto */
.descr-producto {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.descr-producto h2, .descr-producto p {
    margin: 0;
}

.descr-producto .descripcion {
    grid-area: 2 / 1 / 4 / 2;
}

.btn-eliminar-container button {
    border: 0;
    padding: 10px 40px;
    font-weight: bold;
    color: white;
    background-color: #d2042d;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.btn-eliminar-container button:hover {
    opacity: 0.8;
}

/* Precio producto */
.precio-prod .precio {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

/* Container cantidad del producto */
.cantidad-container button {
    border-radius: 30px;
    padding: 2px 10px;
    border: 0;
    background-color: #042dd1;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.cantidad-container .num-cantidad {
    text-align: center;
}


/* Container total pago */
.total-pago {
    flex-grow: 1;
    background-color: #e8e8e8;
}

.total-pagar {
    display: flex;
    justify-content: space-evenly;
}

.total-pagar p {
    font-size: 25px;
    font-weight: bold;
}

.btn-pagar-container {
    text-align: center;
}

.btn-pagar-container button {
    width: stretch;
    margin: 0 10px;
    border: 0;
    padding: 10px 40px;
    font-weight: bold;
    color: white;
    background-color: #02cf06;
    cursor: pointer;
}


/* Container de carrito vacio */
.pagina-carrito-vacio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.texto-carrito-vacio {
    background-color: #e8e8e8;
    padding: 0 15px;
}

.texto-carrito-vacio h2 {
    font-size: 32px;
    margin: 50px 0;
}

.texto-carrito-vacio p {
    margin: 0 0 50px 0;
}

.texto-carrito-vacio p, .texto-carrito-vacio a {
    font-size: 19px;
}

.texto-carrito-vacio a {
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.2s;
}

.texto-carrito-vacio a:hover {
    border-bottom: 2px solid;
    opacity: 0.8;
}

.pagina-carrito-vacio img {
    width: 100%;
    height: 100%;
}


/* Mensaje de compra exitosa */
.msg-pago-exitoso {
    position: fixed;
    width: 500px;
}

.msg-pago-exitoso h3 {
    margin: 20px 0;
    text-align: center;
}

.msg-pago-exitoso p {
    margin: 0 0 0 0;
}

.msg-pago-exitoso::backdrop {
    background-color: black;
    opacity: 0.5;
}

.msg-pago-exitoso .btn-cerrar-dialog {
    text-align: center;
}

.msg-pago-exitoso .btn-cerrar-dialog button {
    border: 0;
    margin: 20px 0;
    padding: 10px 60px;
    background-color: #042dd1;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/*
==============
    FOOTER
==============
*/

footer {
    background-color: #e8e8e8;
    padding: 50px 0;
    margin: 90px 0 0 0;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

footer p:first-child {
    margin: 0 0 7px;
}

footer p:nth-child(2) {
    margin: 0;
}
