
/* Fuente de texto */
/* Enlace: https://fonts.google.com/specimen/Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Defino variable CSS (custom property) para fuente Poppins */
:root {
    --poppins-font: "Poppins", sans-serif;
}

/* Reset CSS para navegadores */
/* Fuente: https://www.youtube.com/shorts/2lyDv0wOQuQ */

*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}


body {
    padding: 0;
    margin: 0;
    font-family: var(--poppins-font);
}


/*
=====================
      NAVBAR
=====================
*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 60px 30px;
    background-color: #e8e8e8;
}

.navbar p {
    margin: 0;
}

.navbar .nombre-pagina {
    font-weight: 800;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #042dd1;
}

.navbar ul li a:hover {
    background-color: #042dd1;
    color: white;
}


/* Main container */


/* Carrito container */
.carrito-container {
    display: flex;
}

.producto-container {
    display: grid;
    grid-template-columns: 200px 500px auto;
    grid-template-rows: 250px;
    column-gap: 20px;
    background-color: #e8e8e8;
}

.producto-container img {
    width: 100%;
    height: 100%;
}

.producto-container:not(:last-child) {
    margin-bottom: 50px;
}

.total-pago {
    flex-grow: 1;
}

.descr-producto {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.descr-producto h2, .descr-producto p {
    margin: 0;
}

.descr-producto .descripcion {
    grid-area: 2 / 1 / 4 / 2;
}
